h1 {
  text-align: center;
  margin-top: 20px;
}

.carousel-img {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin deformarse */
}

.carousel-item {
  height: 300px; /* Ajusta la altura para pantallas pequeñas */
  display: flex;
  align-items: center; /* Centra las imágenes verticalmente */
  justify-content: center; /* Centra las imágenes horizontalmente */
}

@media (min-width: 768px) {
  .carousel-item {
    height: 500px; /* Ajusta la altura para pantallas más grandes */
  }
}

.custom-link {
  color: inherit; /* Hereda el color del texto circundante */
  text-decoration: none; /* Elimina el subrayado */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 5px;
}
