.carousel-item {
  height: auto; /* Ajusta la altura del contenedor */
  text-align: center;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  margin: 0 auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Cambia el color de las flechas a negro */
}

.carousel-indicators [data-bs-target] {
  background-color: black; /* Cambia el color de los indicadores a negro */
}

.carousel-indicators .active {
  background-color: black; /* Cambia el color del indicador activo a negro */
}
