.gif-container {
    width: 100%;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra el GIF horizontalmente */
    align-items: center; /* Centra el GIF verticalmente */
    overflow: hidden; /* Esconde cualquier desbordamiento */
    margin-top: 1%;
  }
  
  .gif-container img {
    width: 100%; /* Hace que el GIF ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción del GIF */
  }
  