.gif-container {
   /* Hace que el contenedor ocupe toda la altura de la ventana */
  display: flex;
  
  margin-top: 5%;
}

.gif-container img {
  max-width: 100%; /* Hace que el GIF ocupe todo el ancho del contenedor */
  max-height: 100%; /* Hace que el GIF ocupe toda la altura del contenedor */
  justify-content: center; /* Centra el GIF horizontalmente */
  align-items: center; /* Centra el GIF verticalmente */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  object-fit: contain; /* Mantiene la proporción del GIF y lo ajusta al contenedor */
}
