body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.iframe-container {
    display: flex;
    justify-content: center; /* Centra el iframe horizontalmente */
    align-items: center; /* Centra el iframe verticalmente */
    width: 100%;
    max-width: 800px; /* Establece un ancho máximo para pantallas grandes */
    margin: 0 auto; /* Centra el contenedor */
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura según el contenido */
    border: 0;
}


h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}
p{
    font-size: 16px;
}
/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .iframe-container {
        max-width: 100%; /* Permite que el contenedor ocupe todo el ancho en pantallas pequeñas */
    }
}


@media (min-width: 1024px) {
    .iframe-container {
        width: 60%;
        
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width: 1440px) {
    .iframe-container {
        width: 50%;
        
    }

    h2 {
        font-size: 2.5em;
    }
}

@media (min-width: 3840px) { /* 4K resolution */
    .iframe-container {
        width: 40%;
        
    }

    h2 {
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    
    h2 {
        font-size: 1.25em;
    }
}