img {
  max-width: 20vh;
  max-height: 20vh;
  margin-left: 15vh;
}
button{
  background-color: orange;
}

.contact-info {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.contact-info p:hover {
  color: orange;
  transition: 0.5s;
}

.navbar-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: black;
}

.div1, .div2 {
  display: inline;
  font-family: "Livvic", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.4583em;
}

.div1 {
  color: #4CAF50;
  margin-right: 20px;
}

.div1 a {
  color: inherit;
  margin: 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.7s ease;
}

.div2 a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.7s ease;
}

.div1 a:hover, .div2 a:hover {
  color: #4CAF50;
  border-bottom: 2px solid orange;
}

.div-principal {
  margin-right: 33vh;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0.8rem;
  }

  .div-principal {
    margin-right: 10px;
  }

  .div1, .div2 {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 0.6rem;
  }

  .div-principal {
    margin-right: 5px;
  }
}
